*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    color:green;
    font-size:36px ;
    font-weight: bold;
    font-family: "楷体";
    
}
p:hover{
    color: black;
    font-size: 20PX;
}